<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My week</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-activity-list *ngIf="!loading" [data]="activityListProperties"></app-activity-list>

</ion-content>
