<section>
  <h2>Timesheet Details</h2>
  <p>External ID: {{timesheet.externalId}}</p>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Month</th>
        <th scope="col">Year</th>
        <th scope="col">Status</th>
        <th scope="col">Total hours</th>
        <th scope="col">Total man days</th>
        <th scope="col">Employee</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{timesheet.user}}</td>
        <td>{{timesheet.month}}</td>
        <td>{{timesheet.year}}</td>
        <td>{{timesheet.status}}</td>
        <td>{{timesheet.totalHours}}</td>
        <td>{{timesheet.totalManDays}}</td>
        <td>{{timesheet.employee}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
