<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="registry" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Registry
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Country</a></li>
            <li><a class="dropdown-item" href="#">Person</a></li>
            <li><a class="dropdown-item" href="#">Corporation</a></li>
            <li><a class="dropdown-item" href="#">Contact</a></li>
            <li><a class="dropdown-item" href="#">Personalia</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="sourcing" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Sourcing
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Sourcer</a></li>
            <li><a class="dropdown-item" href="#">Employee</a></li>
            <li><a class="dropdown-item" href="#">SourcerType</a></li>
            <li><a class="dropdown-item" href="#">EmployeeType</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="timesheets" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Timesheets
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item"
                 routerLink="/timesheets" routerLinkActive="active">
                Timesheet
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
