<img src="/e-crystal/images/MainModel.png" width="1274px" height="444px" alt="Datamodel" title="Datamodel" usemap="#modelmap">

<map name="modelmap">
  <area shape="rect" coords="118,111,234,144" href="/e-crystal/enterprise/sourcer/all" title="Sourcer: &#013; direct employers of employees">
  <area shape="rect" coords="120,244,234,276" href="/e-crystal/enterprise/employee/all" title="Employee: &#013; both salary and hourly based">

  <area shape="rect" coords="483,27,599,81" href="/e-crystal/enterprise/softwareLicenseType/all" title="Software License: &#013; both applications and tools">
  <area shape="rect" coords="483,117,599,171" href="/e-crystal/enterprise/applicationServiceType/all" title="Application Service: &#013; both hosting and support">
  <area shape="rect" coords="302,95,418,149" href="/e-crystal/enterprise/projectResourceType/all" title="Project Resource: &#013; hourly based project staff profiles">

  <area shape="rect" coords="459,257,575,289" href="/e-crystal/enterprise/project/all" title="Project: &#013; software development projects">
  <area shape="rect" coords="343,315,459,369" href="/e-crystal/enterprise/projectResource/all" title="Project Resource: &#013; employees serving in project staff profile">
  <area shape="rect" coords="545,315,661,369" href="/e-crystal/enterprise/workingMonthHours/all" title="Working Month Hours: &#013; monthly hours performed by employee in project role">

  <area shape="rect" coords="687,201,803,233" href="/e-crystal/enterprise/client/all" title="Client: &#013; clients or customers">
  <area shape="rect" coords="804,242,920,274" href="/e-crystal/enterprise/salesOrder/all" title="Sales Order: &#013; client sales orders">
  <area shape="rect" coords="804,156,920,188" href="/e-crystal/enterprise/clientContract/all" title="Client Contract: &#013; signed client contracts">

  <area shape="rect" coords="971,199,1088,231" href="/e-crystal/enterprise/salesInvoice/all" title="Sales Invoice: &#013; client sales invoices">
  <area shape="rect" coords="1120,31,1236,85" href="/e-crystal/enterprise/invoiceLineLicense/all"
        title="Invoice Line License: &#013; invoice lines for software licenses">
  <area shape="rect" coords="1019,104,1135,158" href="/e-crystal/enterprise/invoiceLineService/all"
        title="Invoice Line Service: &#013; invoice lines for application services">
  <area shape="rect" coords="1057,298,1173,352" href="/e-crystal/enterprise/invoiceLineResourceHours/all"
        title="Invoice Line Resource Hours: &#013; invoice lines for hours performed by project resources">
</map>
