<section>
  <h2>Timesheets</h2>

  <div>
    <form>
      <button class="btn btn-outline-dark" (click)="showForm()">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
      </button>
      <button class="btn btn-outline-dark">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
      </button>
      <button class="btn btn-outline-dark">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      </button>
    </form>
  </div>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">External ID</th>
        <th scope="col">User</th>
        <th scope="col">Month</th>
        <th scope="col">Year</th>
        <th scope="col">Status</th>
        <th scope="col">Total hours</th>
        <th scope="col">Total man days</th>
        <th scope="col">Employee</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let timesheet of timesheets" (click)="onSelect(timesheet.externalId)">
        <td>{{timesheet.externalId}}</td>
        <td>{{timesheet.user}}</td>
        <td>{{timesheet.month}}</td>
        <td>{{timesheet.year}}</td>
        <td>{{timesheet.status}}</td>
        <td>{{timesheet.totalHours}}</td>
        <td>{{timesheet.totalManDays}}</td>
        <td>{{timesheet.employee}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
